:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-size: 16px; /* 1 rem = 10px */
    font-family: 'Krub', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin: 0 auto 0 auto; */
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (min-widht:778px){ 
    .navegacion-principal{
        flex-direction: column;
    }
}
.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}
.contenido-hero{
    position: absolute;
    /** background-color: rgb(0, 0, 0, 0.5); -->  Anterior **/
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
}


